<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <link rel="stylesheet" type="text/css" href="formStyle.css" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet' type='text/css' />
<title>Create new password</title>

<style type="text/css">
body{
	font-family:"Josefin Sans", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:17px;
}
 button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.myform{
	margin:0 auto;
	width:430px;
	height:350px;
	padding:14px;
}
</style>
</head>

<head>
<style>
a:link {color: orange;}    /* unvisited link */
a:visited {color: orange;} /* visited link */
a:hover {color:red;}   /* mouse over link */
a:active {color:orange;}  /* selected link */
</style>
</head>


<body>
<div id="stylized" class="myform">
<IMG src="images/newPass.png" </A>
<br><br>

<form id="form1" id="form1" action="newPass.php" method="POST">
	 <label>Enter your netID
    </label>
    <input type="text" name="netID">
    
    <label>Old Password
    <span class="small">Forgot <a href="forgottenPassword.html" class="auto-style1" target="_blank">Password</a>?</span> 
    </label>
	 <input type="password" name = "oldPassword">


    <label>Enter new Password
    </label>
	 <input type="password" name = "password">



    <label>Retype new Password
    </label>
	 <input type="password" name = "passwordR">
	
	 
	 <button type="submit" value="Submit" style="margin-top:15px;">Submit</button>
<div class="spacer"></div>
<br />
<br />

</form>

</div> <!-- end of form class -->

</body>
</html>
