/* Admin.css defines styles for the admin backend to the GarageSale
 * Application. The back end is not currently planned to be themeable.
 */
 
/* Set up the body html to use the entire page
 * As well as other global stylings 
 */
html, body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

/* Tables */
table {
    width: 100%;
}

th {
    text-align: left;
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:nth-child(2n) {
    background-color: #efefef;
}

/* Layout Configuration
 * Defines the primary container blocks of the back end:
 *      The top bar with user info
 *      The content section with
 *          The sidebar with menus
 *          The header with tools
 *          The content data
 *      The footer
 */

/* .admin-top-nav contains user info
 * this should span the entire page 
 */
div.admin-top-nav {
    
    /* Use CSS3 styles to add some effects */
    background: #565656; /* Old browsers */
    background: -moz-linear-gradient(top, #565656 0%, #4c4c4c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#4c4c4c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#4c4c4c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#4c4c4c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
    
    border-bottom: 1px solid #fff;
    padding: 4px 5px;
    color: #f3f3f3;
    font-size: 14px;
    margin-bottom: 5px;
    clear: right;
}

    /* .left pushes things to the left */
    .left {
        float: left;
    }
    
    /* .right pushes things to the right */
    .right {
        float: right;
    }
    
    /* adjusts links for top nav */
    div.admin-top-nav a {
        text-decoration: none;
        color: #0cf;
    }
    /* adjusts link hover action for top nav */
    div.admin-top-nav a:hover {
        text-decoration: none;
        color: #0ef;
    }
    
    /* a custom link for top nav */
    div.admin-top-nav a.custom-link {
        text-decoration: none;
        color: #ddd;
    }
    /* a custom link hover action for top nav */
    div.admin-top-nav a.custom-link:hover {
        color: #fff;
    }

/* div.admin-manage-content holds the data for the rest of the page */
div.admin-manage-content {
    clear: both;
}

/* .admin-sidebar-data contains menus and takes up the entire left
 * side. Uses float so that there is no wrapping.
 */
div.admin-sidebar-data {
    float: left;
    width: 225px;
    padding: 5px 0 0 0;
}

    /* h3 is the primary header style for the sidebar */
    div.admin-sidebar-data ul li h3 {
        padding: 5px;
        margin: 0;
        color: #454545;
        background: #f9f9f9;
        
        border-radius: 5px 5px 0 0; 
        -moz-border-radius: 5px 5px 0 0; 
        -webkit-border-radius: 5px 5px 0 0; 
    }

    /* Sidebar menu styles */
    ul.admin-sidebar-menu {
        margin: -5px 0 10px 5px;
        padding: 0;
        list-style: none;
        background: #efefef;
        
        /* css rounded corner styles */
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
        border: 1px solid #ccc;
    }
    
    /* Sidebar menu list block style */
    ul.admin-sidebar-menu li {
        display: block;
        border-bottom: 1px dotted #ccc;
    }
    
    /* sidebar menu list link element */
    ul.admin-sidebar-menu li a {
        display: block;
        text-decoration: none;
        padding: 3px 0px 3px 5px;
        color: #454545;
        border-left: 3px solid #efefef;
    }
    
    /* sidebar menu list link hover action */
    ul.admin-sidebar-menu li a:hover {
        background: #eaeaea;
        color: #000;
        border-left-color: #0cf;
    }


/* div.admin-header-data spans the width of the screen that is not
 * taken by the sidebar and gives options for tools
 */
div.admin-header-data {
    background: #efefef;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-left: 231px;
    border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px;
}

    /* div.admin-header-title defines styles for displaying the page
     * titles and descriptions.
     */
    div.admin-header-title {
        border-bottom: 2px solid #0cf;
        /* css3 background effects */
        background: #ededed; /* Old browsers */
        background: -moz-linear-gradient(top, #ededed 0%, #ffffff 44%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(44%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 44%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ededed 0%,#ffffff 44%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ededed 0%,#ffffff 44%); /* IE10+ */
        background: linear-gradient(to bottom, #ededed 0%,#ffffff 44%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        
        padding: 10px;
        border-radius: 5px 5px 0px 0px; 
        -moz-border-radius: 5px 5px 0px 0px; 
        -webkit-border-radius: 5px 5px 0px 0px;
    }
    
    /* primary header style for admin title
     */
    div.admin-header-title h1 {
        margin: 0;
        color: #555;
    }

    /* ul.admin-header-menu contains tools for managing content */
    ul.admin-header-menu {
        margin: 0 0 0 5px;
        padding: 0;
    }
    
    /* individual list items in the admin-header-menu */
    ul.admin-header-menu li {
        list-style: none;
        display: inline-block;
        margin-left: -4px;
        border-right: 1px solid #ccc;
        /*background: #f9f9f9;*/
        
        /* Add some css3 effects */
        background: #ededed; /* Old browsers */
        background: -moz-linear-gradient(top, #ededed 0%, #ffffff 50%, #f6f6f6 53%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(50%,#ffffff), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 50%,#f6f6f6 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ededed 0%,#ffffff 50%,#f6f6f6 53%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ededed 0%,#ffffff 50%,#f6f6f6 53%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ededed 0%,#ffffff 50%,#f6f6f6 53%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    
    /* individual link styles in the admin-header-menu */
    ul.admin-header-menu li a {
        display: block;
        text-decoration: none;
        color: #333333;
        padding: 9px 7px 9px 6px;
        border-bottom: 2px solid #999;
    }
    /* link hover style in the admin-header-menu */
    ul.admin-header-menu li a:hover {
        background: #fff;
        color: #111111;
        border-bottom-color: #333;
    }


/* div.admin-content-data will contain all management widgets and info
 * like forms, reports, etc.
 */
div.admin-content-data {
    padding: 5px 0;
    margin-left: 241px;
}

    /* Widgets contain actual information useful to the user
     */
    div.admin-content-data div.admin-content-widget {
        border: 1px solid #cfcfcf;
        background: #fff;
        padding: 4px;
        color: #333;
        display: inline-block;
        margin: 0px 1% 4px -4px;
        vertical-align: top;
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;
    }
    
        /* Widget headers */
        div.admin-content-data div.admin-content-widget h4 {
            margin: 0;
            padding: 0;
            border-bottom: 1px dotted #ccc;
        }
    
    div.admin-content-data div.admin-content-widget.widget-extrasmall {
        width: 22.85%;
    }
    
    div.admin-content-data div.admin-content-widget.widget-small {
        width: 31.13%;
    }
    
    div.admin-content-data div.admin-content-widget.widget-medium {
        width: 47.85%;
    }
    
    div.admin-content-data div.admin-content-widget.widget-large {
        width: 64.5%;
    }
    
    div.admin-content-data div.admin-content-widget.widget-extralarge {
        width: 72.9%;
    }
    
    div.admin-content-data div.admin-content-widget.widget-full {
        width: 98%;
    }

/* div.admin-foot-info will span the entire bottom of the page ad
 * provide conclusions 
 */
div.admin-foot-info {
    clear: left;
    padding: 5px;
    border-top: 1px solid #ccc;
    background: #efefef;
}


/* .action-message will display a pretty message indicating some 
 * form of action has either succeeded or failed.
 */
div.admin-message {
    background: #F6ECA1;
    border: 1px solid #A85808;
    color: #A85808;
    padding: 2px 10px;
}

